{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mail/mail.css' %}">

    <meta charset="UTF-8">
    <title>{% block title %}Książka @dresowa{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-home"></i></a>


    <ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="{% url 'person-add' %}"> <i class="fas fa-plus"></i><i class="fas fa-user"></i></a>
    </li></ul>

</nav>

    <div id="main">
        <a href="{% url 'index' %}"><h1> Książka @adresowa</h1></a>
        <hr width="80%" />
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
</html>